@yellow: #f2bf43;
.my-col {
  // background: @yellow;
  background: #3498ff;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.flex {
  display: flex;

  .flex-item {
    padding: 0 30px;
  }
  .flex-4{
    order: 1;
  }
  .flex-1{
    order: 2;
  }
  .flex-3{
    order: -1;
  }
}
