tr {
  border-bottom: 1px solid green;
}

td {
  padding: 8px 10px;
  border-collapse: collapse;
}

//字体
.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

//字体大小
.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

//字体抗锯齿
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//行高
.leading-normal   {line-height: 1.5;}
.leading-relaxed	{line-height: 1.625;}
.leading-loose	{line-height: 2;}
.leading-3	{line-height: .75rem;}
.leading-4	{line-height: 1rem;}
.leading-5	{line-height: 1.25rem;}
.leading-6	{line-height: 1.5rem;}
.leading-7	{line-height: 1.75rem;}
.leading-8	{line-height: 2rem;}
.leading-9	{line-height: 2.25rem;}
.leading-10	{line-height: 2.5rem;}
