@import "../../style/mixins/index";
@import "../../style/themes/default";

.#{$coconut-prefix}-button {

  display: inline-block;
  height: $button-height;
  cursor: pointer;
  transition: all .3s ease;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  box-shadow: none;
  user-select: none;
  text-align: center;
  position: relative;
  background-image: none;
  background-color: transparent;
  font-smoothing: antialiased;
  font-size: $button-font-size;
  padding: 6px 12px;

  //.cooIcon-loading {
  //  margin-right: 3px;
  //}
  //
  //&.circle {
  //  padding: 0px;
  //}
  //
  //&.cooButton-fill {
  //  color: $white;
  //}

  //&-normal {
  //  color: $gray;
  //  border-color: rgb(118, 118, 118);
  //
  //  &:hover {
  //    background-color: $grayHover;
  //  }
  //
  //  &:active {
  //    background-color: $grayActive;
  //  }
  //
  //  &.cooButton--fill {
  //    background-color: $gray;
  //    border-color: $gray;
  //
  //    &:active {
  //      background-color: $grayDark;
  //    }
  //  }
  //}

  &-primary {
    color: $white;
    background-color: $primary-button-color;
    border-color: $primary-button-color;

    &:hover {
      background-color: $primary-button-color;
    }

    &:active {
      background-color: $primary-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $primary-button-color;
      background-color: transparent;
      color: $primary-button-color;

      &:active {
        background-color: $primary-button-fill-tap;
      }

      &.#{$coconut-prefix}-button-disable {
        color: fade_in($primary-button-color, 0.05);
        background-color: transparent;
        border-color: fade_out($primary-button-color, 0.1);
      }
    }

    &.#{$coconut-prefix}-button-disable {
      color: $white;
      background-color: fade_out($primary-button-color, 0.3);
      border-color: fade_out($primary-button-color, 0.3);
    }
  }

  &-secondary {
    color: $white;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;

    &:hover {
      background-color: $secondary-button-color;
    }

    &:active {
      background-color: $secondary-button-fill-tap;
      border-color: $secondary-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $secondary-button-color;
      background-color: transparent;
      color: $secondary-button-color;

      &:active {
        background-color: $secondary-button-fill-tap;
      }
    }
  }

  &-danger {
    color: $white;
    background-color: $danger-button-color;
    border-color: $danger-button-color;

    &:hover {
      background-color: $danger-button-color;
    }

    &:active {
      background-color: $danger-button-fill-tap;
      border-color: $danger-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $danger-button-color;
      background-color: transparent;
      color: $danger-button-color;

      &:active {
        background-color: $danger-button-fill-tap;
      }
    }
  }

  &-info {
    color: $white;
    background-color: $info-button-color;
    border-color: $info-button-color;

    &:hover {
      background-color: $info-button-color;
    }

    &:active {
      background-color: $info-button-fill-tap;
      border-color: $info-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $info-button-color;
      background-color: transparent;
      color: $info-button-color;

      &:active {
        background-color: $info-button-fill-tap;
      }
    }
  }

  &-warning {
    color: $black;
    background-color: $warning-button-color;
    border-color: $warning-button-color;

    &:hover {
      background-color: $warning-button-color;
    }

    &:active {
      background-color: $warning-button-fill-tap;
      border-color: $warning-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $warning-button-color;
      background-color: transparent;
      color: $warning-button-color;

      &:active {
        background-color: $warning-button-fill-tap;
      }
    }
  }

  &-success {
    color: $white;
    background-color: $success-button-color;
    border-color: $success-button-color;

    &:hover {
      background-color: $success-button-color;
    }

    &:active {
      background-color: $success-button-fill-tap;
      border-color: $success-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $success-button-color;
      background-color: transparent;
      color: $success-button-color;

      &:active {
        background-color: $success-button-fill-tap;
      }
    }
  }

  &-light {
    color: $dark;
    background-color: $light-button-color;
    border-color: $light-button-color;

    &:hover {
      background-color: $light-button-color;
    }

    &:active {
      background-color: $light-button-fill-tap;
      border-color: $light-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $light-button-color;
      background-color: transparent;
      color: $dark;

      &:active {
        background-color: $light-button-fill-tap;
      }
    }
  }

  &-dark {
    color: $white;
    background-color: $dark-button-color;
    border-color: $dark-button-color;

    &:hover {
      background-color: $dark-button-color;
    }

    &:active {
      background-color: $dark-button-fill-tap;
      border-color: $dark-button-fill-tap;
    }

    &.#{$coconut-prefix}-button-plain {
      //镂空
      border-color: $dark-button-color;
      background-color: transparent;
      color: $dark-button-color;

      &:active {
        background-color: $dark-button-fill-tap;
      }
    }
  }

  &-default {
    padding: 6px 15px;
    line-height: 22px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    //border-radius: $borderRadius;

    .cooIcon {
      font-size: 16px;
    }

    &.cooButton--circle {
      border-radius: 18px;
      width: 36px;
      padding: 6px 0px;

      .cooIcon {
        font-size: 20px;
      }
    }
  }

  &-large {
    height: $button-height-lg;
    padding: 10px 22px;
    line-height: $button-height-lg - 44;
    font-size: $button-font-size-lg;
    //border-radius: $borderRadiusLarge;

    //.cooIcon {
    //  font-size: 17px;
    //}

    &.#{$coconut-prefix}-button-circle {
      //圆角应该是高度的一半
      border-radius: 0.5 * $button-height-lg;
      //width: 48px;
      //padding: 10px 0px;

      .cooIcon {
        font-size: 22px;
      }
    }
  }

  &-small {
    height: $button-height-sm;
    padding: 4px 8px;
    line-height: $button-height-sm - 16;
    font-size: $button-font-size-sm;

    &.#{$coconut-prefix}-button-circle {
      //圆角应该是高度的一半
      border-radius: 0.5 * $button-height-sm;
    }

  }

  &-disable {
    //background-image: linear-gradient(0deg, #f8f8f8, #efefef);
    //border-color: $normalBorderColor;
    //background-color: $white;
    //color: #999;
    cursor: not-allowed;

    //&.transparent {
    //  background-image: none;
    //  border-color: transparent;
    //  color: #999;
    //
    //  &:hover {
    //    background-color: $white;
    //    background-image: none;
    //    border-color: transparent;
    //  }
    //}

    &:hover {

    }
  }

  &-loading {
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      transition: opacity .2s;
      pointer-events: none;
      background-color: rgba(255, 255, 255, .3);
    }
  }

  &-circle {
    border-radius: 0.5 * $button-height;
  }
}
