@import "../../style/themes/default";

.#{$coconut-prefix}-row {
  width: 100%;
  overflow: hidden;

  &-flex {
    display: flex;
    flex-flow: row wrap;

    &::before, &::after {
      display: flex;
    }
  }
}

//主轴对齐
.#{$coconut-prefix}-row-flex-start {
  justify-content: flex-start;
}

.#{$coconut-prefix}-row-flex-center {
  justify-content: center;
}

.#{$coconut-prefix}-row-flex-end {
  justify-content: flex-end;
}

.#{$coconut-prefix}-row-flex-space-between {
  justify-content: space-between;
}

.#{$coconut-prefix}-row-flex-space-around {
  justify-content: space-around;
}

//纵轴对齐

.#{$coconut-prefix}-row-align-top {
  align-items: flex-start;
}

.#{$coconut-prefix}-row-align-center {
  align-items: center;
}

.#{$coconut-prefix}-row-align-bottom {
  align-items: flex-end;
}

//Col组件
$yellow: #f2bf43;
.#{$coconut-prefix}-col {
  float: left;
  box-sizing: border-box;
}


@for $i from 0 through 24 {

  .#{$coconut-prefix}-col-span-#{$i} {
    width: (1/ 24 * $i *100) * 1%;
  }

  .#{$coconut-prefix}-col-offset-#{$i} {
    margin-left: (1/24 * $i *100) * 1%;
  }

  .#{$coconut-prefix}-col-order-#{$i} {
    order: $i;
  }

}
